In [1]:
#import findspark
#findspark.init()
import pyspark
from pyspark.sql import SparkSession
#spark=SparkSession.builder.getOrCreate()
spark = SparkSession.builder.appName("Spark SQL basic example").getOrCreate()
sc = spark.sparkContext
import matplotlib.pyplot as plt
import pandas
from pyspark.sql.functions import *

In [2]:
spark

df= spark.read.format("csv").option("header", "true").load(r"D:\DBDA\FINAL_PROJECT\v1\vehicles.csv")

In [3]:
df = spark.read.csv(r"vehicles.csv",header=True, inferSchema=True)

In [4]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- url: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- size: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- posting_date: string (nullable = true)

In [5]:
df.show(5)

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   az|null|null|        null|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ar|null|null|        null|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   fl|null|null|        null|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   ma|null|null|        null|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|null|        null| null|     null|     null|null|    null|        null|        null|null| null|null|null|       null|     null|       null|  null|   nc|null|null|        null|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 5 rows

In [6]:
df.columns

['id',
 'url',
 'region',
 'region_url',
 'price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'title_status',
 'transmission',
 'VIN',
 'drive',
 'size',
 'type',
 'paint_color',
 'image_url',
 'description',
 'county',
 'state',
 'lat',
 'long',
 'posting_date']

In [7]:
from pyspark.sql.functions import col, sum as spark_sum

# Calculate the sum of null values for each column
null_counts = df.select([spark_sum(col(column).isNull().cast('int')).alias(column) for column in df.columns])

# Show the counts
null_counts.show()

+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
| id| url|region|region_url|price|year|manufacturer|model|condition|cylinders| fuel|odometer|title_status|transmission|   VIN| drive|  size|  type|paint_color|image_url|description|county|state|  lat| long|posting_date|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+
|  0|9884|  6901|      6533| 6446|7890|       28937|17506|   187143|   190798|16344|   17801|       21618|       15932|174486|144178|319997|106892|     143839|    13732|      13733|382283|23077|25397|24715|       22477|
+---+----+------+----------+-----+----+------------+-----+---------+---------+-----+--------+------------+------------+------+------+------+------+-----------+---------+-----------+------+-----+-----+-----+------------+

In [8]:
df.count()

441802

In [10]:
columns_to_delete = ['id', 'url', 'region_url','VIN','image_url','description','county','lat','long','posting_date','size','state']

# Drop the columns
df1 = df.drop(*columns_to_delete)

# Show the DataFrame after dropping columns
#df1.show()

In [11]:
df1.columns

['region',
 'price',
 'year',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'odometer',
 'title_status',
 'transmission',
 'drive',
 'type',
 'paint_color']

In [12]:
df1.count()

441802

In [13]:
# drop duplicated records :
df2 = df1.distinct()
df2.count()

376299

df3 = df1.dropDuplicates()
df3.count()

In [14]:
from pyspark.sql.functions import col, sum as spark_sum

# Calculate the sum of null values for each column
null_counts = df2.select([spark_sum(col(column).isNull().cast('int')).alias(column) for column in df2.columns])

# Calculate the percentage of null values for each column
total_rows = df2.count()
null_percentages = null_counts.select(
    [((col(column) / total_rows) * 100).alias(column + "_null_percentage") for column in df2.columns]
)

# Show the null percentages
null_percentages.show()

+----------------------+---------------------+--------------------+----------------------------+---------------------+-------------------------+-------------------------+--------------------+------------------------+----------------------------+----------------------------+---------------------+--------------------+---------------------------+
|region_null_percentage|price_null_percentage|year_null_percentage|manufacturer_null_percentage|model_null_percentage|condition_null_percentage|cylinders_null_percentage|fuel_null_percentage|odometer_null_percentage|title_status_null_percentage|transmission_null_percentage|drive_null_percentage|type_null_percentage|paint_color_null_percentage|
+----------------------+---------------------+--------------------+----------------------------+---------------------+-------------------------+-------------------------+--------------------+------------------------+----------------------------+----------------------------+---------------------+--------------------+---------------------------+
|   0.21339413604606977| 0.013553052227085376|  0.3279307146710461|           5.315719680360564|   2.7326673735513514|       39.067337409878846|        41.59750623839022|  2.3127885006338045|      2.5838495451755117|           3.440880788947087|          2.2025038599624236|     31.5089862051188|  22.618715436394996|         30.537418382722247|
+----------------------+---------------------+--------------------+----------------------------+---------------------+-------------------------+-------------------------+--------------------+------------------------+----------------------------+----------------------------+---------------------+--------------------+---------------------------+

We can see that "year", "manufacturer", "model", and "odometer" column has less than 6% of null values. So we can simply drop those rows which have null values in these two columns.

In [15]:
# Drop rows with null values in specified columns
df3 = df2.na.drop(subset=['region','price','year','model','odometer','manufacturer'])

In [16]:
df3.count()

346932

In [17]:
null_count = df3.filter(col("year").isNull()).count()
print("null records" ,null_count)

null_count = df3.filter(col("year").isNotNull()).count()
print("not null records" ,null_count)

total_count = df3.select('year').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df3.groupBy('year').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df3.select("year").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+-----+
|                year|count|
+--------------------+-----+
| depending on spe...|   28|
|                1953|   55|
|                1957|  117|
|                1987|  393|
|                1956|   98|
|                2016|24145|
|                1936|   21|
|                2020|17024|
|                2012|18901|
|                1958|   49|
|                1943|    1|
|                1915|    1|
|                1972|  298|
|                1931|   26|
|                1988|  410|
|                1926|   10|
|                1938|   14|
|                2019|21961|
| Credit Investiga...|    3|
|                2017|30249|
|                1932|   46|
|                1977|  199|
|                2014|24333|
|                1971|  224|
|                1984|  303|
|                2013|24553|
|                1982|  169|
|                1941|   36|
|                2005| 8530|
|                2000| 2910|
|                1965|  273|
|                1962|   98|
|                1954|   68|
|                1930|   53|
|                1981|  163|
|                1940|   48|
|                1978|  260|
|                1974|  183|
|                2002| 4636|
|                1959|   55|
|                2018|31616|
|                2009| 9766|
|                1995| 1003|
|                1964|  196|
|                1905|    1|
|                1946|   33|
|                2006|10205|
|                1927|   26|
|                1976|  151|
|                1942|    6|
|                1935|   14|
|                1947|   43|
|                1967|  233|
|                1968|  314|
|                1924|    6|
|                2004| 7388|
|                2011|16523|
|                1939|   32|
|                1989|  474|
|                1992|  503|
|                1961|   50|
|                1966|  273|
|                1951|   56|
|                2022|   69|
|                2008|13706|
|                1955|  135|
|                1999| 2423|
|                1963|  160|
|                1994|  793|
|                1950|   45|
|                1997| 1420|
|                1973|  256|
|                2007|11938|
|                1996| 1047|
|                1983|  194|
|                1969|  280|
|                1923|   30|
|                1980|  207|
|                1960|   66|
|                1934|   22|
|                1937|   41|
|                2021| 1784|
|                1948|   41|
|                1986|  394|
|                1952|   65|
|                1985|  385|
|                1929|   38|
|                1979|  285|
|                2015|25217|
|             options|   40|
|                1998| 1600|
|                1993|  602|
|                1949|   42|
|                2001| 3650|
|                2010|12719|
|                1990|  494|
|                2003| 5939|
|                1991|  502|
|                1928|   29|
|                1975|  134|
|                1970|  229|
|                1933|   17|
|                1900|    3|
|                1944|    3|
|                1913|    2|
| if applicable. T...|   12|
|               3500 |    1|
|                 SSI|    1|
|                2014|    1|
|                1925|    5|
|               Title|    1|
|                2009|    1|
|      affordable car|    2|
|                1921|    1|
|                1918|    1|
|           gas saver|    1|
|                1922|    1|
|          Chevrolet |    1|
|                1945|    1|
+--------------------+-----+

None
--------------------------------------
+--------------------+
|                year|
+--------------------+
|                1953|
| depending on spe...|
|                1957|
|                1987|
|                1956|
|                2016|
|                1936|
|                2020|
|                2012|
|                1958|
|                1972|
|                1931|
|                1988|
|                1938|
|                2019|
|                1918|
|                2017|
|                1932|
|                1977|
|                2014|
+--------------------+
only showing top 20 rows

119

In [18]:
df3.printSchema()

root
 |-- region: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)

For all the missing values in other columns, we have just converted them in to a new category, "unknown"

In [19]:
# Replace null values in all columns with 'unknown'
df4 = df3.fillna('unknown')

In [20]:
# Calculate the sum of null values for each column
null_counts = df4.select([spark_sum(col(column).isNull().cast('int')).alias(column) for column in df4.columns])

# Show the counts
null_counts.show()

+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+
|region|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission|drive|type|paint_color|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+
|     0|    0|   0|           0|    0|        0|        0|   0|       0|           0|           0|    0|   0|          0|
+------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+-----+----+-----------+

In [21]:
null_count = df4.filter(col("manufacturer").isNull()).count()
print("null records" ,null_count)

null_count = df4.filter(col("manufacturer").isNotNull()).count()
print("not null records" ,null_count)

total_count = df4.select('manufacturer').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df4.groupBy('manufacturer').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df4.select("manufacturer").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|              jaguar| 1813|
|               buick| 4753|
|          mitsubishi| 2874|
|             pontiac| 2022|
| pricing and othe...|   40|
|               lexus| 7138|
|              toyota|29054|
|            chrysler| 5103|
| Optional Credit ...|    3|
|               tesla|  812|
|             lincoln| 3764|
|                audi| 6816|
|              datsun|   61|
|                 bmw|12802|
|                jeep|15913|
|               dodge|11137|
|               rover| 1572|
|             hyundai| 8438|
|                ford|60022|
|          alfa-romeo|  859|
|            cadillac| 5911|
|                 ram|14641|
|               mazda| 4702|
|             ferrari|   69|
|                 kia| 6969|
|       mercedes-benz|10083|
|             porsche| 1179|
|        aston-martin|   22|
|              saturn|  932|
|           chevrolet|46111|
|               honda|18088|
|                mini| 2090|
|                fiat|  699|
|          volkswagen| 8283|
|             mercury| 1005|
| overall conditio...|   28|
|     harley-davidson|  121|
|               acura| 5469|
|                 gmc|14283|
|            infiniti| 4319|
|              nissan|15796|
|              subaru| 8193|
|               volvo| 2907|
|          land rover|   15|
|               E150 |    1|
|             pricing|   12|
| recuperaciones a...|    1|
|                2015|    1|
|                2010|    1|
|   Registration Fees|    1|
|     affordable cars|    2|
|   Nissan Silverado |    1|
|              40 mpg|    1|
+--------------------+-----+

None
--------------------------------------
+------------+
|manufacturer|
+------------+
|      jaguar|
|       buick|
|  mitsubishi|
|     pontiac|
|       lexus|
|      toyota|
|    chrysler|
|       tesla|
|     lincoln|
|        audi|
|      datsun|
|         bmw|
|        jeep|
|       dodge|
|       rover|
|     hyundai|
|        ford|
|  alfa-romeo|
|    cadillac|
|         ram|
+------------+
only showing top 20 rows

53

In [22]:
from pyspark.sql.functions import when

# Define the list of top 20 manufacturers
manufacturer_values = ['nissan','honda','chevrolet','mercedes-benz','ram','dodge','ford','jeep','toyota','bmw','subaru','volkswagen','kia','cadillac','hyundai','lexus','audi','chrysler','acura','buick']

# Use when function to update the 'manufacturer' column
df5 = df4.withColumn('manufacturer', 
                   when(df4['manufacturer'].isin(manufacturer_values), df4['manufacturer'])
                   .otherwise('others'))

In [23]:
null_count = df5.filter(col("manufacturer").isNull()).count()
print("null records" ,null_count)

null_count = df5.filter(col("manufacturer").isNotNull()).count()
print("not null records" ,null_count)

total_count = df5.select('manufacturer').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df5.groupBy('manufacturer').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df5.select("manufacturer").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+-------------+-----+
| manufacturer|count|
+-------------+-----+
|        buick| 4753|
|        lexus| 7138|
|       toyota|29054|
|     chrysler| 5103|
|         audi| 6816|
|       others|46212|
|          bmw|12802|
|         jeep|15913|
|        dodge|11137|
|      hyundai| 8438|
|         ford|60022|
|     cadillac| 5911|
|          ram|14641|
|          kia| 6969|
|mercedes-benz|10083|
|    chevrolet|46111|
|        honda|18088|
|   volkswagen| 8283|
|        acura| 5469|
|       nissan|15796|
|       subaru| 8193|
+-------------+-----+

None
--------------------------------------
+-------------+
| manufacturer|
+-------------+
|        buick|
|        lexus|
|       toyota|
|     chrysler|
|         audi|
|       others|
|          bmw|
|         jeep|
|        dodge|
|      hyundai|
|         ford|
|     cadillac|
|          ram|
|          kia|
|mercedes-benz|
|    chevrolet|
|        honda|
|   volkswagen|
|        acura|
|       nissan|
+-------------+
only showing top 20 rows

21

# region :

In [24]:
null_count = df5.filter(col("region").isNull()).count()
print("null records" ,null_count)

null_count = df5.filter(col("region").isNotNull()).count()
print("not null records" ,null_count)

total_count = df5.select('region').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df5.groupBy('region').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df5.select("region").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+-----+
|              region|count|
+--------------------+-----+
|   central louisiana|  116|
|          western KY|  205|
|           texarkana|  189|
|       daytona beach| 1237|
|   heartland florida|  154|
|  southeast missouri|  176|
|            sandusky|  231|
|        gold country|  689|
|           pensacola|  560|
|        south jersey| 2438|
|       new hampshire| 2217|
|          san marcos|  169|
|           fairbanks|  288|
|     kansas city, MO| 2439|
|          harrisburg|  783|
|       state college|  191|
|              yakima| 1453|
|          moses lake|  816|
|huntsville / decatur| 1072|
|   northern michigan|  557|
|       south florida| 2328|
|saginaw-midland-b...|  821|
|potsdam-canton-ma...|   86|
|        northwest OK|  136|
|             jackson| 1083|
| dallas / fort worth| 2473|
|  mcallen / edinburg|  796|
|         long island| 2555|
|        northeast SD|   32|
|          binghamton|  438|
|            richmond| 1889|
|             atlanta| 2460|
|lewiston / clarkston|  647|
|   cumberland valley|  166|
|          wilmington|  745|
|              toledo| 1204|
|             reading|  377|
|          susanville|  113|
|        jacksonville| 2636|
|              peoria|  402|
|florence / muscle...|  146|
|    central michigan|  439|
|     eastern montana|   59|
|         brownsville|  315|
|             modesto| 2078|
|             chicago| 2627|
|    hickory / lenoir|  627|
|killeen / temple ...|  535|
|del rio / eagle pass|   93|
|                waco|  561|
|      seattle-tacoma| 2758|
|              monroe|  507|
|           brunswick|  171|
|        harrisonburg|  335|
|skagit / island /...|  554|
|     imperial county|  255|
|         terre haute|  187|
|              albany| 2017|
|     charlottesville|  508|
|              denver| 2698|
|          las cruces|  296|
|       inland empire| 2345|
|      visalia-tulare|  698|
|          louisville| 1501|
|          youngstown|  592|
|        williamsport|  321|
|              laredo|  297|
|        provo / orem|   72|
|     medford-ashland| 1360|
|            roseburg|  269|
|        southwest TX|   28|
|         grand forks|  159|
|  southwest michigan|  423|
|beaumont / port a...|  276|
|      tampa bay area| 2495|
|         la salle co|  106|
|           asheville| 1256|
|scottsbluff / pan...|   61|
|            stockton| 2554|
|           st george|  323|
|          eau claire|  653|
|           green bay|  893|
|           charlotte| 2383|
|        south dakota|   75|
|          cincinnati| 2473|
|   muncie / anderson|  238|
|         east oregon|  673|
|       orange county| 2546|
|        st louis, MO| 2469|
|              eugene| 2172|
|           knoxville| 2222|
|           meadville|  170|
|           sheboygan|  241|
|           manhattan|  239|
|        northwest GA|  355|
|            muskegon|  443|
|           wenatchee| 1070|
|           the thumb|  275|
|             madison| 1930|
|            meridian|   20|
|greenville / upstate| 1997|
|    colorado springs| 2420|
|          twin falls|  559|
|        jersey shore|  742|
|           watertown|  342|
|               boise| 2329|
|         baton rouge|  539|
|              boston| 2617|
|kennewick-pasco-r...| 2225|
|              pueblo|  596|
|              kokomo|  148|
|           mansfield|  298|
|        north dakota|   85|
|       lehigh valley| 1043|
|              mobile|  496|
|               chico| 1294|
|          pittsburgh| 2490|
|           jonesboro|  276|
|     kenai peninsula|  147|
|             wichita| 1348|
| west virginia (old)|    7|
|         santa maria|  577|
|             orlando| 2471|
|  lake of the ozarks|  210|
|           la crosse|  478|
|            victoria|  212|
|           cleveland| 2299|
|         chattanooga|  893|
|      akron / canton| 1860|
|          winchester|  546|
|            bismarck|   79|
|           ashtabula|  236|
|      ventura county| 1847|
|               salem| 2115|
|        rhode island| 1791|
|         bloomington|  202|
|  mattoon-charleston|  147|
|   north mississippi|  401|
|              ithaca|  283|
|     san luis obispo|  875|
|      corpus christi|  922|
|            danville|  359|
|              wausau|  667|
|               boone|  297|
|zanesville / camb...|  239|
|           annapolis|  262|
|               butte|  132|
|   gulfport / biloxi|  106|
|             bozeman|  783|
|            st louis|   31|
|    southeast alaska|   77|
|south bend / mich...|  859|
|          shreveport|  361|
|          port huron|  320|
|           milwaukee| 2446|
|     deep east texas|   78|
|scranton / wilkes...|  828|
|          charleston| 1197|
|       winston-salem|  933|
|       bowling green|  345|
|        southwest KS|   91|
|columbia / jeff city| 1033|
|             lincoln|  511|
|             memphis| 1466|
|    champaign urbana|  269|
|           iowa city|  164|
|          eastern CO|   38|
|lafayette / west ...|  242|
|worcester / centr...| 1621|
|          farmington|  116|
|               houma|   73|
|   okaloosa / walton|  162|
|        grand rapids| 2524|
|            billings|  903|
|             bemidji|  328|
|         glens falls|  239|
|          fort wayne|  717|
|   clovis / portales|   74|
|  northern panhandle|  246|
|        oregon coast|  615|
|             decatur|  164|
|            lawrence|  192|
|               tulsa| 2273|
|    ogden-clearfield|   71|
|    mendocino county|  218|
|           kalispell|  733|
|         little rock| 1062|
|            show low|  102|
|             holland|  506|
|            syracuse| 1145|
|fort collins / no...| 2013|
|           catskills|  138|
|        monterey bay| 1144|
|  huntington-ashland|   74|
|      washington, DC| 2548|
|         chillicothe|  237|
|        myrtle beach|  865|
|       oklahoma city| 2344|
|        indianapolis| 1998|
|         new orleans|  878|
|              lawton|  194|
|          tuscaloosa|  150|
|        high rockies|  144|
|savannah / hinesv...|  475|
|          western IL|   54|
|      fredericksburg| 1006|
|         south coast|  561|
|           las vegas| 2382|
|  cape cod / islands|  500|
|            st cloud|  822|
|        battle creek|  510|
|       wichita falls|  545|
|    hanford-corcoran|  167|
|         space coast| 1083|
|omaha / council b...| 1848|
|              austin| 2419|
|           san diego| 2579|
|         outer banks|   94|
|     college station|  278|
|       western slope|  938|
|                ames|  174|
|          mason city|  198|
|       klamath falls|  305|
|          fort smith|  274|
|        southeast KS|   95|
|       tuscarawas co|  132|
|        southeast IA|  133|
|        grand island|  174|
|        southwest MN|   52|
|   southern illinois|  441|
|          evansville|  383|
|          sioux city|  245|
|              salina|  160|
|             mankato|  399|
|             lubbock|  326|
|            rockford|  881|
|  flagstaff / sedona|  691|
|          sacramento| 2725|
|macon / warner ro...|  584|
|    odessa / midland|  341|
|               flint| 1111|
|            delaware|  824|
|          montgomery|  317|
|  anchorage / mat-su| 1626|
|        fayetteville| 1836|
|         SF bay area| 2699|
|      treasure coast|  903|
|                elko|  116|
|         clarksville|  571|
|         bakersfield| 1930|
|      specifications|   28|
|           lancaster|  773|
|        southwest VA|  175|
|           owensboro|  132|
|parkersburg-marietta|  230|
|      kenosha-racine|  665|
|          tri-cities|  900|
|           lynchburg|  434|
|          des moines| 2489|
|              topeka|  517|
|           baltimore| 2441|
|       mohave county|  353|
|              tucson| 2433|
|               logan|  152|
|             wyoming|  534|
|              hawaii| 2269|
|             lansing| 1245|
|          chautauqua|  209|
| pierre / central SD|   50|
|          bellingham| 1858|
|   Registration Fees|    3|
|             redding| 1735|
|          fort dodge|   56|
|            columbia| 1168|
|        north platte|   73|
|       new york city| 2514|
|         northern WI|  223|
|appleton-oshkosh-FDL| 1112|
|         yuba-sutter| 1127|
|western massachus...| 1550|
|              dothan|  306|
|    eastern kentucky|  204|
|             vermont| 1832|
|  bloomington-normal|  181|
|        lake charles|  137|
|           lafayette|  147|
|         hattiesburg|   82|
|   utica-rome-oneida|  560|
|             boulder|  645|
|    fargo / moorhead|  768|
|                bend| 2050|
|             houston| 2526|
|            columbus| 2628|
|          statesboro|  133|
|       detroit metro| 2470|
|                erie|  631|
|    western maryland|  269|
|          eastern NC|  812|
|        southwest MS|   13|
|          central NJ| 2625|
|             el paso| 1656|
|    new river valley|  267|
|             phoenix| 2582|
|               maine| 2178|
|        philadelphia| 2230|
|              joplin|  270|
|raleigh / durham ...| 2390|
|            florence|  299|
|dayton / springfield| 1496|
|          janesville|  260|
|        palm springs| 1211|
|             oneonta|   57|
|           rochester| 2413|
|          birmingham| 1208|
|    north central FL|  178|
|   and options shown|   40|
|             buffalo| 1700|
|         hilton head|  170|
|             roanoke|  966|
|     fresno / madera| 2215|
|     humboldt county|  326|
|   southern maryland|  339|
|     upper peninsula|  332|
|         southern WV|   32|
|           galveston|  192|
|         albuquerque| 2508|
|            valdosta|  252|
|          morgantown|  291|
|           lexington|  993|
|          east idaho|  852|
|spokane / coeur d...| 2510|
|           ann arbor|  979|
|            missoula| 1049|
|             poconos|  418|
|         panama city|  261|
|       hudson valley| 1335|
|        reno / tahoe| 2421|
|  sarasota-bradenton| 1865|
|        cedar rapids|  525|
|              texoma|  246|
|                york|  669|
| sioux falls / SE SD|  498|
|          greensboro| 1545|
|            portland| 2749|
|         tallahassee|  676|
|             augusta|  385|
|      salt lake city|  413|
|        north jersey| 2607|
|             dubuque|  196|
|minneapolis / st ...| 2812|
|      elmira-corning|  308|
|       eastern shore|  350|
|                yuma|  221|
|          eastern CT|  476|
|          stillwater|  190|
|          cookeville|  176|
|         san antonio| 2280|
|   olympic peninsula|  634|
|         springfield| 1933|
|waterloo / cedar ...|  533|
|           st joseph|  285|
|plattsburgh-adiro...|  210|
|rapid city / west SD|  380|
|            hartford| 1900|
|            lakeland|  865|
|    gadsden-anniston|  198|
|           nashville| 2333|
|     santa fe / taos|  662|
|      lima / findlay|  418|
|             abilene|  198|
|              merced|  539|
|     siskiyou county|   72|
|            prescott|  615|
|  roswell / carlsbad|   85|
|        sierra vista|  227|
|        florida keys|  170|
|            amarillo|  388|
|        finger lakes|  354|
|            brainerd|  511|
|    twin tiers NY/PA|  125|
|         los angeles| 2442|
|        northwest CT|  341|
|    pullman / moscow|  554|
|  quad cities, IA/IL|  491|
|         great falls|  331|
|        northwest KS|  133|
|           new haven| 1397|
|ft myers / SW flo...| 2511|
|               ocala| 1343|
|        st augustine|  297|
|              helena|  205|
|      fort smith, AR|    8|
|           frederick|  261|
|           kalamazoo|  986|
|         gainesville|  686|
|   altoona-johnstown|  281|
|          san angelo|  133|
|       santa barbara|  917|
|   duluth / superior|  686|
|    corvallis/albany|  934|
|norfolk / hampton...| 1942|
|              athens|  497|
|     tyler / east TX|  779|
|          kirksville|  110|
|   eastern panhandle|  235|
|              auburn|  135|
|                  8 |    1|
|         sin cr√©dito|    1|
|         license fee|   12|
|         kansas city|    8|
|                2011|    1|
|                 gti|    1|
| any finance charges|    1|
|          cheap cars|    2|
|               1500 |    1|
|           low miles|    1|
+--------------------+-----+

None
--------------------------------------

+--------------------+
|              region|
+--------------------+
|           texarkana|
|        gold country|
|           fairbanks|
|huntsville / decatur|
|florence / muscle...|
|             modesto|
|     imperial county|
|       inland empire|
|              mobile|
|               chico|
|     kenai peninsula|
|           jonesboro|
|    southeast alaska|
|    mendocino county|
|            show low|
|         little rock|
|          tuscaloosa|
|    hanford-corcoran|
|          fort smith|
|  flagstaff / sedona|
+--------------------+
only showing top 20 rows

416

In [25]:
from pyspark.sql.functions import when

# Count the occurrences of each manufacturer value
manufacturer_counts = df5.groupBy('region').count()

# Sort the counts in descending order and select the top 20 manufacturers
top_manufacturers = manufacturer_counts.orderBy('count', ascending=False).limit(50)

# Extract the top 20 manufacturer values
manufacturer_values = [row['region'] for row in top_manufacturers.collect()]

# Use when function to update the 'manufacturer' column
df6 = df5.withColumn('region', 
                     when(df5['region'].isin(manufacturer_values), df5['region'])
                     .otherwise('others'))

In [26]:
null_count = df6.filter(col("region").isNull()).count()
print("null records" ,null_count)

null_count = df6.filter(col("region").isNotNull()).count()
print("not null records" ,null_count)

total_count = df6.select('region').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df6.groupBy('region').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df6.select("region").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+------+
|              region| count|
+--------------------+------+
|        south jersey|  2438|
|     kansas city, MO|  2439|
| dallas / fort worth|  2473|
|         long island|  2555|
|             atlanta|  2460|
|        jacksonville|  2636|
|             chicago|  2627|
|      seattle-tacoma|  2758|
|              denver|  2698|
|       inland empire|  2345|
|      tampa bay area|  2495|
|            stockton|  2554|
|           charlotte|  2383|
|          cincinnati|  2473|
|       orange county|  2546|
|        st louis, MO|  2469|
|    colorado springs|  2420|
|               boise|  2329|
|              boston|  2617|
|          pittsburgh|  2490|
|             orlando|  2471|
|           milwaukee|  2446|
|        grand rapids|  2524|
|              others|221186|
|      washington, DC|  2548|
|       oklahoma city|  2344|
|           las vegas|  2382|
|              austin|  2419|
|           san diego|  2579|
|          sacramento|  2725|
|         SF bay area|  2699|
|          des moines|  2489|
|           baltimore|  2441|
|              tucson|  2433|
|       new york city|  2514|
|             houston|  2526|
|            columbus|  2628|
|       detroit metro|  2470|
|          central NJ|  2625|
|             phoenix|  2582|
|raleigh / durham ...|  2390|
|           rochester|  2413|
|         albuquerque|  2508|
|spokane / coeur d...|  2510|
|        reno / tahoe|  2421|
|            portland|  2749|
|        north jersey|  2607|
|minneapolis / st ...|  2812|
|           nashville|  2333|
|         los angeles|  2442|
|ft myers / SW flo...|  2511|
+--------------------+------+

None
--------------------------------------
+-------------------+
|             region|
+-------------------+
|       south jersey|
|    kansas city, MO|
|dallas / fort worth|
|        long island|
|            atlanta|
|       jacksonville|
|            chicago|
|     seattle-tacoma|
|             denver|
|      inland empire|
|     tampa bay area|
|           stockton|
|          charlotte|
|         cincinnati|
|      orange county|
|       st louis, MO|
|   colorado springs|
|              boise|
|             boston|
|         pittsburgh|
+-------------------+
only showing top 20 rows

51

# model :

In [27]:
null_count = df6.filter(col("model").isNull()).count()
print("null records" ,null_count)

null_count = df6.filter(col("model").isNotNull()).count()
print("not null records" ,null_count)

total_count = df6.select('model').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df6.groupBy('model').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df6.select("model").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+-----+
|               model|count|
+--------------------+-----+
|             4runner|  903|
|                 hse|   55|
|       sonata hybrid|   73|
|                hr-v|  146|
|compass fwd dr sport|    2|
|                 dts|  239|
|            lacrosse|  358|
|          crv lx awd|   22|
|         verano base|   11|
|transit connect c...|   26|
|           sentra sv|  155|
|  cherokee trailhawk|   25|
|journey r/t flexible|    2|
|           pruis two|    2|
|silverado 2500hd ...|    5|
|                 xk8|   25|
|          charger se|   59|
|journey se sport ...|   34|
|            aerostar|    5|
|      avalon limited|   60|
|           cts sedan|   46|
|                 q40|    8|
|  f 250 platinum fx4|    4|
|      f-150 long bed|    1|
|               azera|   50|
|silverado durmax ...|   12|
|        slt crew cab|    4|
|explorer limited 4wd|   14|
|xc60 t6 momentum ...|   11|
|             borrego|   16|
|   eclipse cross sel|   30|
|          eclipse gs|    6|
|    1500 bighorn 4x4|    2|
|            cheyenne|   12|
|        5500 chassis|    3|
|     2002 rsx type s|    1|
|       m4 coupe 2015|    2|
|               monte|    1|
| park avenue 4dr sdn|    1|
|            xj sport|    1|
|        mirage g4 le|    1|
|   c-class c 63 s am|    1|
|    3500 laramie 4x4|    8|
|          crv ex awd|   41|
|              verano|  135|
|     lesabre limited|   30|
|          rio 5-door|    5|
|     is 250 sedan 4d|   45|
|   tundra sr5 d/door|    1|
|           civic cng|    1|
|grand caravan sxt...|   34|
|k900 luxury sedan 4d|   44|
|xc60 t6 premier plus|    1|
|highlander hybrid...|   30|
|        1500 express|   49|
|            amg g 63|    1|
|                c350|    7|
|"1500 4wd quad ca...|    1|
|     f150 lariat 4x4|   31|
|4 series 440i cou...|   15|
|               s60 r|    6|
|sienna se minivan 4d|    7|
|               f-750|   49|
|sierra 2500hd slt...|    2|
|mazda3 s sport 4d...|    1|
|f150 xlt sport ed...|    1|
|mazda3 s grand to...|   25|
|  cayenne diesel awd|    1|
|             rc 200t|    8|
|altima 3.5 se 2dr...|    3|
|   f250 4x4 platinum|   14|
|       envoy slt 4x4|   10|
|thunderbird 2dr c...|    1|
|   sprinter high top|    1|
|      e350 cargo van|   19|
|       cheyenne 2500|    4|
|    c3500 dump truck|    1|
|     escape titanium|   82|
|  ranger regular cab|   10|
|        newport 300m|    1|
|                  ct|   40|
|dealer* luxury pk...|   13|
|        express 1500|   31|
|        ml500 4matic|    1|
|         caliber r/t|   13|
|    tiguan s 4motion|   15|
|mazda3 preferred ...|    8|
|2500 crew cab tra...|   24|
|tremor f-250 supe...|    1|
|  crv lx local trade|    5|
|      accord touring|   22|
|        corvette z06|   37|
|              3.2 tl|   14|
|rav4 adventure sport|   12|
|                 mkt|   71|
|1500 quad cab tra...|   41|
|wrx premium**navi...|    1|
|q50 3.0t sport se...|   83|
|xv crosstrek prem...|    1|
|      escape xlt fwd|    2|
|     f350 work truck|    5|
|        f350 flatbed|    5|
|  eclipse spyder gts|    5|
|          458 italia|    3|
|       grand prix g6|    1|
|              srx v8|   11|
|        escape sport|    3|
|             380 sel|    1|
|x3 xdrive28i spor...|   24|
|                 x5m|    8|
|         benz sl 500|    5|
|     f350 king ranch|   14|
|              x type|    6|
|f150 xlt xtr 4x4 ...|   29|
|accord 2dr v6 aut...|    1|
|             hse td6|    1|
|        prius v five|    6|
|promaster city tr...|    2|
| silverado lt 2500hd|    1|
|            m3 coupe|    5|
|            sportage|  403|
|mustang mach 1 fa...|    1|
| sonata sel sedan 4d|  131|
|            pacifica|  267|
|         suburban lt|   93|
|      is 250 awd nav|    1|
|           clk-class|   34|
|     astro cargo van|    8|
|e-series cargo e-150|   18|
|grand cherokee la...|  141|
|a5 2.0t premium p...|    3|
|forester 2.5i tou...|    6|
|      tacoma trd pro|   10|
|       odyssey elite|    3|
|    eclipse cross sp|   18|
|           jimmy sle|    6|
|        genesis 5.0l|    1|
|1500 express crew...|    5|
|              xe 20d|    1|
|explorer xlt 4x4 ...|   24|
|           murano sv|   22|
|              ratrod|    1|
|santa fe gls 4d s...|    1|
|           hr-v ex-l|    4|
|sierra 1500 crew 4x4|    5|
|    wrx premium seda|    1|
|   tundra double cab|   44|
|    vibe sport wagon|    3|
|mustang ecoboost ...|    4|
|veloster w/black int|    4|
|  sportage lx 2wd at|    1|
|town n country li...|    1|
|mr2 spyder conver...|    2|
|500x lounge sport...|    7|
|                328d|   13|
|     911 gt3 touring|    4|
|   forte gt sedan 4d|    3|
|malibu 4dr sdn ls...|    1|
|                1500| 3345|
|              5500hd|    9|
|                 van|   75|
|       corolla l cvt|    1|
|      f-150 platinum|   51|
|        ioniq hybrid|   12|
|               es350|   71|
|                  ss|   10|
|wrx limited sedan 4d|   20|
|     s60 inscription|    8|
|q50 3.0t pure sed...|    3|
|           benz s550|   73|
|                  mj|    1|
|c-max energi sel ...|   17|
|             boxster|   95|
|          miata mx-5|   27|
|    eclipse cross se|   16|
|sierra duramax 25...|    4|
|           envoy sle|   16|
|        ram1500 hemi|    1|
|tacoma prerunner sr5|    7|
| forester touring xt|    1|
|    flex limited awd|   29|
|           g37 coupe|   17|
|               ss454|    1|
|sierra 1500 sltex...|    9|
|           500 sedan|    2|
|lifted f350 deise...|    1|
|           sport die|   12|
|lacrosse premium ...|    3|
|        benz e55 amg|    5|
|                  wg|    2|
|     q50 premium awd|    2|
| f-150 xlt supercrew|   11|
|    legacy gt spec b|    1|
|      journey se fwd|    4|
|               pinto|    7|
|           nitro suv|    2|
|       entourage gls|    4|
|1500 sierra all-t...|    1|
|              cobalt|  248|
|              sentra| 1059|
|                 g35|  173|
|    silverado 2500hd| 1302|
|   atlas cross sport|   25|
|transit connect c...|   91|
|     c70 convertible|   21|
|               quest|  133|
|            titan se|   21|
|                nova|   63|
|450 tow truck (wr...|    1|
|         colorado lt|   40|
|          sonoma sls|   14|
|tacoma v6 1-orego...|   16|
|enclave avenir sport|  100|
|                 740|    4|
|ridgeline sport p...|  127|
|                350z|   75|
|                 mkz|  288|
|                cx-9|  209|
|       rogue sport s|    9|
|sequoia platinum ...|    6|
|challenger t/a pl...|    6|
|              falcon|   16|
|             rogue s|  121|
|                  cc|  147|
|f 350 lariat fx4 ...|    8|
|a8 l 4.2 quattro ...|    6|
|tacoma 2wd access...|    1|
|cruze ltzsedan w/1lz|    1|
|    x3 xdrive35i awd|    3|
|         transit-250|   20|
|    pacifica limited|   23|
|escape 4wd 4dr ti...|    1|
|           chieftain|    5|
|     z28 convertible|    1|
|explorer limited ...|   11|
|            300 hemi|    1|
|                530e|    9|
|e-350 sd extended...|    1|
|elantra value edi...|    2|
|tundra 4x4 - sr5 ...|    1|
|             integra|   11|
|caravan sxt passe...|    6|
|cx-5 awd touring pkg|    1|
|blazer premier sport|   14|
|  civic ex hatchback|    4|
|     is250 sport rwd|    1|
|    suburban ltz 4x4|   16|
|            md-x awd|    1|
|              soul !|    6|
|              murano|  584|
|ct 200h hatchback 4d|   93|
|                 tsx|  228|
|    grand caravan gt|   38|
|      e350 box truck|   40|
|         durango slt|   34|
|tacoma trd sport 4x4|   11|
|        forte 5-door|    9|
|q7 tdi prestige s...|   12|
|silverado 2500 lt...|    6|
|         savana 3500|   27|
|  sprinter cargo van|   14|
| challenger r/t plus|   11|
|            1500 slt|  132|
|rogue sport s uti...|    9|
|a5 premium plus c...|   38|
|4 series 428i con...|   13|
|             lr3 hse|    5|
|              325cic|    7|
|          benz ml430|    3|
|        falcon wagon|    3|
|expedition platin...|   35|
|       escape xlssuv|    1|
|             clubman|   26|
|      acadia sle awd|   16|
|           ion sedan|    3|
|                 nvp|    3|
|   wrangler t-rock x|    3|
|   645ci convertible|    9|
|cts luxury rwd ga...|    1|
|explorer eddie ba...|    4|
|      m6 convertible|    2|
|             a3 2.0t|   11|
|silverado 3500 cl...|   20|
|          lancer rhd|    1|
|            maxima s|   12|
|f-150 stx,only 28...|    1|
|   cts 4 sport wagon|    1|
|            pilot lx|   13|
|tacoma sr5 4x4 1/...|   18|
|                dart|  296|
|  silverado 1500 4x4|   50|
|              gs 350|  118|
|                cx-5|  315|
|  outlander se sport|   96|
|wrangler rubicon ...|   86|
|        1500 laramie|  120|
|sierra 1500 exten...|   23|
|sierra 1500 regul...|  332|
|             nx 200t|   53|
|       express cargo|   81|
|           sienna le|  235|
|   accord ex-l sedan|   10|
|       q50 3.0t luxe|    8|
| pilot touring sport|   12|
|         911 carrera|   35|
|outback 2.5xt lim...|    5|
|flex sel sport ‚Äì ...|    1|
|          ilx luxury|    1|
|                325i|  111|
|f-250 king ranch ...|    3|
|c-max hybrid tita...|   18|
|            sonic ls|   20|
|                x6 m|   25|
|silverado 1500 lt...|   55|
|s4 premium plus s...|   37|
|x5 sdrive35i spor...|   14|
|  glk350 4matic luxu|    1|
|         sienna 2002|    1|
|                  g5|   38|
|      is 350 f sport|    2|
|           ranger xl|   28|
|    town+and+country|    2|
|  sierra 2500 denali|   15|
|    highlander sport|   35|
|canyon crew cab p...|    8|
|   venture passenger|    1|
|     town and county|    3|
|avenger se 4dr sedan|    6|
|    savana passenger|   14|
|     rio lx sedan 4d|    6|
|         150 xlt 4x4|    1|
|is250 sport rwd g...|    1|
|              altima| 2159|
|       passat 2.0t s|    1|
|3 series 328i xdrive|   49|
|         mountaineer|  105|
|cts 2.0 standard ...|    6|
|               supra|   21|
|tacoma 4x4 pre ru...|    1|
|         rogue sport|   74|
|range evoque p250 se|   58|
|2 series 228i cou...|   20|
|is 250 sport seda...|    5|
|xterra s sport ut...|   14|
|       falcon sprint|    3|
|       3 series 320i|   10|
|500 pop hatchback 2d|   32|
|       excursion xlt|   23|
|      titan crew cab|   17|
|               astro|   37|
|                 c70|   30|
|       3500 big horn|   44|
|         trailbalzer|    1|
|   cruze limited ltz|   30|
|            scion xd|   15|
|             m35 4wd|    1|
|     forester (natl)|    6|
|     compass limited|   37|
|f-150 xlt 4d supe...|    1|
|5500 crew flat be...|    1|
|            tribecca|    1|
|rogue sport sv ut...|    8|
|  forester x premium|    3|
|     cadenza premium|    8|
|       pt cruiser gt|    7|
|     versa hatchback|    4|
|f350 powerstroke ...|   40|
|            tlx 2.4l|    4|
|       expedition el|  194|
|  xt5 platinum sport|   22|
|nx 300h sport uti...|  118|
|s90 t5 momentum s...|  106|
|    xc60 t6 r design|    1|
|forester 2.5i pre...|   12|
|acadia sle-1 spor...|   63|
|silverado 1500 lt...|    7|
|  pt cruiser touring|   29|
|          forte koup|   22|
|clubman cooper ha...|   10|
|           civic cpe|   15|
|         versa 1.8 s|    7|
|     allroad quattro|    8|
|transit connect c...|   15|
|         s5 prestige|    4|
| 1500 tradesman quad|    1|
|     mkz black label|    4|
|              tt 225|    1|
|        a5 cabriolet|    5|
|       f-450 chassis|    1|
|        acadia slt-1|   34|
|        yukon hybrid|    8|
|     equinox 4dr ltz|    1|
|    golf r hatchback|   16|
|     4runner sr5 awd|    6|
|  1500 big horn 4wd!|    1|
|             f750 xl|   21|
|              juke s|   13|
|   sl500 convertible|    3|
|      focus se sedan|   29|
| captiva sport fleet|   19|
|535i xdrive gran ...|    1|
|       tucson se awd|    8|
|            f150 4wd|   11|
|explorer xlt 4wd suv|    2|
|           benz c280|   15|
|silverado 1500 4w...|    1|
|       passat gls 1.|    1|
|              is-350|    1|
|edge limited 4dr ...|    5|
|1500 classic sxt ...|    3|
| diesels cummin 3500|    3|
|equinox lt fwd ga...|   10|
|      windsor deluxe|    2|
|      town & country|  618|
|          xts luxury|   19|
|gl 350 bluetec lo...|   13|
|        flex sel fwd|    3|
|               regal|  146|
|                 200|  629|
|    q50 3.0t premium|    1|
|             sequoia|  211|
|  genesis coupe 2.0t|   26|
|acadia slt-2 spor...|   43|
|            f150 xlt|  224|
|            spark ls|   43|
|      a6 3.2 quattro|   11|
|            7 series|  112|
|      express g 2500|    1|
|rav4 xle premium ...|   11|
|   transit cargo van|  140|
|  ilx tlx watch plus|    1|
|     caprice classic|   11|
|journey crossroad...|    8|
|  sienna xle premium|   15|
|           f-150 4x4|   23|
|accord ex-l*leath...|    1|
|  wrangler sport 4x4|   14|
|1500 laramie long...|   24|
|                 vnl|   11|
|        terrain slt1|    1|
|        e350 box van|    6|
|             trax lt|   67|
|               e-550|    1|
|1500 sport crewca...|    2|
|    yukon xl slt 4x4|    7|
|       avalanche ltz|   39|
|  sierra 3500 denali|   29|
|               xc 70|    2|
|             montego|   22|
|f-250 7.3 diesel 4x4|    1|
|  police interceptor|    9|
|              crx si|    4|
|c8500 tandem dump...|    9|
|                g37s|    7|
|focus electric ha...|   56|
|silverado 2500hd ...|   40|
|4runner sr5premiu...|    1|
|          sorento lx|  117|
|    cherokee limited|   50|
|            1500 4x4|  155|
|    town and country|  343|
|acadia slt-1 spor...|   21|
|                 gls|   23|
|malibu ltz 4dr sedan|    4|
|sierra 3500 sle 4...|    2|
| i3 94 ah with range|    2|
|         altima 2.5s|   33|
|            nv cargo|   18|
|     impreza outback|    7|
|      silverado 3500|  140|
|       3-series 328i|    5|
|f-150 fx4 super c...|    1|
|    yaris le 4dr h/b|    5|
|canyon extended c...|   42|
|sierra 2500hd cla...|    7|
|    titan svcrew cab|    1|
|1500 slt 4x4 half...|   21|
|           legacy gt|   12|
| charger daytona r/t|    2|
|     transit 150 awd|    2|
|                 986|    1|
|silverado 2500 cr...|   12|
|"sierra 1500 4wd ...|    1|
|              ct 200|    3|
|f-350 platinum ul...|    6|
|tundra platinum c...|    4|
|    super duty e-250|    1|
|     f-150 xl 8' bed|    1|
|c 63 s amg 503hp ...|    1|
|         uplander lt|    5|
|sierra 1500 sle 4...|    8|
|              rx 300|   54|
|tacoma sr5 4x4 do...|    4|
|       1500 crew cab|   92|
|                f650|   33|
|2500 laramie 4x4 ...|    2|
|q5 prestige sport...|   12|
|                c240|   11|
|   ioniq hybrid blue|    3|
|                  b9|    1|
|  taurus se sedan 4d|    5|
|civic hatchback s...|    3|
|c-7500 multiple u...|    1|
|          1500 4 x 4|    1|
|          cj7 laredo|    2|
|              gx 460|  116|
|           prius iii|   13|
|tacoma double cab sr|    8|
|        endeavor xls|    4|
|      edge sport awd|   11|
|   f150 supercab xlt|    4|
|   milan awd premier|    1|
|         e-class 2dr|    2|
|cherokee latitude...|    3|
|    civic lx-p coupe|    1|
|           motorhome|    2|
|4 series 440i gra...|   14|
|            brougham|   11|
|cooper hardtop 2d...|    4|
|sierra diesel dur...|   15|
|gx 470 4dr suv 2-...|   15|
|  town & country lwb|    6|
|legacy awd 4dr. s...|    2|
|    xc60 t6 platinum|    2|
|             f150xlt|    2|
|         fuso fec52s|    1|
|f450 super duty r...|    8|
|           discovery|   39|
|"sequoia limited ...|   12|
|       escape hybrid|   36|
|               750il|    6|
|  legacy limited awd|    3|
|          pilot ex-l|  138|
|          taurus sel|  115|
|    tundra 4wd truck|  101|
|odyssey ex | 8 pa...|    2|
|a6 45 tfsi premiu...|   91|
|              ls 430|   54|
|outback limited x...|    1|
|promaster cargo v...|    3|
|             tt 2.0t|    3|
|     is 300 sedan 4d|   26|
|  elantra sesedan 6a|    5|
|1500 tradesman cr...|    1|
| lancer evolution mr|   11|
|     a3 2.0t quattro|    6|
|3500hd 4x4 crew-c...|    3|
|      libert limited|    1|
|      m-class ml 320|    6|
|             niro ex|    4|
|f-350 super duty ...|    1|
|       express g1500|   10|
|1500 tradesman 4x...|    1|
|      canyon sle 4x4|    2|
|         concorde lx|    3|
|       f-150 xlt 4wd|    6|
| es es 350 automatic|    1|
|             leaf sv|   14|
|    silverado 1500hd|   19|
|  gl-class gl320 cdi|    1|
|prius iii 4dr hat...|    1|
|ranger super cab ...|  135|
|    patriot latitude|   50|
|           c10 truck|   14|
|300 limited sedan 4d|  116|
|       silverado ltz|   36|
|             element|  178|
|5 series 535i gra...|   28|
|encore preferred ...|   31|
|           dts w/1sd|    1|
|       cr-v ex-l 4x4|    2|
|2 series 2dr cpe ...|    1|
|super duty f-250 ...|    9|
|    f150 regular cab|   30|
|charger sxt sedan 4d|   52|
| transit connect van|   35|
|             cla 250|   42|
|highlander xle aw...|    1|
|       transit wagon|    5|
|sierra 2500hd ava...|   46|
|       tucson se fwd|    1|
|davidson xl 1200 ...|    1|
|650xi xdrive gran...|   16|
|m-4 convertible t...|    1|
|     535i xdrive awd|    9|
|       malibu ls 1fl|    6|
|civic ex-l hatchback|    3|
|               cx -9|    2|
| e350 super duty van|    3|
|silverado diesel ...|   13|
|     falcon ranchero|    2|
|    rav4 xle premium|    5|
|        cooper sport|    2|
|          f-640 dump|    1|
|soul 5dr wgn man ...|    2|
|   eos final edition|    1|
|        rav4 xle 4wd|    3|
|        odyseey vtec|    1|
|           cruze, lt|    4|
|               760li|    5|
|                  s6|   26|
|   qx30 sport suv 4d|    4|
|wrangler unlimite...|  440|
|2500 diesel 4x4 5...|    3|
|   express cargo van|  281|
|        f-150 lariat|  185|
|      renegade sport|   40|
|23-window samba d...|    1|
|                  i3|   36|
|          escape sel|   45|
|        x6 sdrive35i|    6|
|           tl type-s|    6|
|   grand caravan r/t|    7|
|silverado 2500 hd...|    4|
|  optima lx sedan 4d|   29|
|     540i bad credit|    2|
|cx-5 signature di...|   23|
| tucson sport suv 4d|    8|
| lacrosse premium ii|    4|
|                500c|    7|
|e350 super duty c...|   12|
|renegade latitude...|   28|
|      focus titanium|   30|
|            f-250 xl|    4|
|      cherokee chief|    3|
|cherokee latitude...|    1|
|fit ex-l hatchbac...|    8|
|             c43 amg|    2|
|sonata sel plus s...|   39|
|             mks awd|   10|
|    avalanche ls 4x4|    3|
|   sierra 2500hd at4|    2|
|            sonat se|    1|
|           del sol s|    1|
|            velar p2|    2|
|   versa sv sedan 4d|   14|
|          rx 350 4dr|    1|
|            titan le|   12|
|charger r/t scat ...|   32|
|        xterra 4x4 s|    1|
|silverado diesel ...|    3|
|suburban ltz rwd gas|    1|
|tacoma sr5 rwd 1/...|   10|
|    is300 sportcross|    2|
|         4runner 4wd|   21|
|         thunderbird|  191|
|        altima 2.5 s|  275|
|escape hybrid lim...|    3|
|            rogue sv|  134|
|          tacoma 4wd|   49|
|  f150 supercrew 4x4|   15|
|       xterra se 4x4|    8|
|                cts4|   16|
|      mazda3 s sport|    7|
|         transit-350|   10|
|f250 super duty l...|   63|
|            a3 sedan|   10|
|  discovery sport se|   32|
|1 series 135i cou...|   45|
|  mirage g4 es sedan|    1|
|explorer sport tr...|    4|
|2 series 228i con...|    7|
|                baja|   25|
|        frontier 4x4|   34|
|sierra 2500 slt s...|    1|
|                 626|    5|
|regal tourx essen...|   13|
|      mariner hybrid|    9|
|         pilot elite|   11|
|    3500 chassis cab|   19|
|           camrey le|    1|
|  sorento sx limited|    1|
|                 slt|    7|
|                 j20|    4|
|      terrain denali|   22|
|         transporter|    5|
| tribute 2.0l man dx|    1|
|tahoe premier rwd...|    1|
|super duty f-350 ...|    7|
|      econoline e150|    8|
|wrangler unlmited...|   21|
|a4 allroad premiu...|   98|
|             patriot|  549|

+--------------------+
|               model|
+--------------------+
|            lacrosse|
|             4runner|
|                 dts|
|           cts sedan|
|                 hse|
|super duty f-350 ...|
|                 xk8|
|                hr-v|
|       sonata hybrid|
|          charger se|
|      avalon limited|
|         2500 diesel|
|               gem 2|
|               azera|
|transit connect c...|
|  cherokee trailhawk|
|   eclipse cross sel|
|           sentra sv|
|          crv lx awd|
|                m 37|
+--------------------+
only showing top 20 rows

23551

In [28]:
from pyspark.sql.functions import when

# Count the occurrences of each model value
manufacturer_counts = df6.groupBy('model').count()

# Sort the counts in descending order and select the top 50 model
top_manufacturers = manufacturer_counts.orderBy('count', ascending=False).limit(50)

# Extract the top 50 model values
manufacturer_values = [row['model'] for row in top_manufacturers.collect()]

# Use when function to update the 'model' column
df7 = df6.withColumn('model',
                     when(df6['model'].isin(manufacturer_values), df6['model'])
                     .otherwise('others'))

In [29]:
null_count = df7.filter(col("model").isNull()).count()
print("null records" ,null_count)

null_count = df7.filter(col("model").isNotNull()).count()
print("not null records" ,null_count)

total_count = df7.select('model').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df7.groupBy('model').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df7.select("model").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+------------------+------+
|             model| count|
+------------------+------+
|              1500|  3345|
|            sentra|  1059|
|  silverado 2500hd|  1302|
|            altima|  2159|
|            sierra|  1046|
|     grand caravan|  1340|
|            camaro|  1015|
|          forester|  1120|
|            fusion|  1556|
|             prius|  1219|
|         silverado|  2502|
|             jetta|  1188|
|            tacoma|  2050|
|            tundra|  1177|
|          suburban|   925|
|            sonata|  1326|
|             tahoe|  1406|
|              2500|  2243|
|            others|262576|
|           corolla|  1765|
|             focus|  1482|
|       sierra 1500|  1335|
|              cr-v|  1595|
|          wrangler|  2155|
|            sienna|   908|
|            escape|  2244|
|             rogue|  1045|
|              3500|  1278|
|             cruze|  1245|
|              f150|   939|
|             camry|  2510|
|              edge|  1187|
|wrangler unlimited|  1034|
|    grand cherokee|  2031|
|           charger|  1236|
|          explorer|  2079|
|           odyssey|  1249|
|             civic|  2362|
|             f-150|  6452|
|             pilot|   923|
|            accord|  2468|
|            malibu|  1367|
|           outback|  1279|
|          corvette|  1471|
|             f-250|  1215|
|            impala|  1343|
|           equinox|  1624|
|           mustang|  1889|
|    silverado 1500|  4169|
|              rav4|  1358|
|           elantra|  1141|
+------------------+------+

None
--------------------------------------
+----------------+
|           model|
+----------------+
|            1500|
|          sentra|
|silverado 2500hd|
|          altima|
|          sierra|
|   grand caravan|
|          camaro|
|        forester|
|          fusion|
|           prius|
|       silverado|
|           jetta|
|          tacoma|
|          tundra|
|        suburban|
|          sonata|
|           tahoe|
|            2500|
|          others|
|         corolla|
+----------------+
only showing top 20 rows

51

In [30]:
from pyspark.sql.functions import countDistinct

# Iterate over each column in the DataFrame
for col_name in df7.columns:
    # Count the distinct values in the column
    distinct_count = df7.select(countDistinct(col_name)).collect()[0][0]
    print(col_name, distinct_count)

region 51
price 15286
year 119
manufacturer 21
model 51
condition 58
cylinders 33
fuel 17
odometer 101992
title_status 19
transmission 82
drive 12
type 22
paint_color 49

In [31]:
null_count = df7.filter(col("transmission").isNull()).count()
print("null records" ,null_count)

null_count = df7.filter(col("transmission").isNotNull()).count()
print("not null records" ,null_count)

total_count = df7.select('transmission').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df7.groupBy('transmission').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df7.select("transmission").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346932
total count  346932
--------------------------------------
+--------------------+------+
|        transmission| count|
+--------------------+------+
|             unknown|  1327|
| and smog fees   ...|     1|
|           automatic|267924|
|               other| 58572|
|2021-05-01T11:30:...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
|         -122.332289|     3|
|              manual| 19017|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
|2021-05-02T13:04:...|     1|
|2021-05-02T14:34:...|     1|
| and smog fees   ...|     1|
|2021-04-27T14:34:...|     1|
|2021-05-03T15:20:...|     1|
|2021-05-01T13:05:...|     1|
| and smog fees   ...|     1|
|2021-04-27T15:19:...|     1|
| Si se encuentra ...|     1|
| and smog fees   ...|     1|
|           Extended |     1|
|          -73.900821|    12|
|2021-05-02T15:19:...|     1|
| and smog fees   ...|     1|
|2021-05-01T15:19:...|     1|
|2021-04-27T09:58:...|     1|
|2021-05-02T12:19:...|     1|
|2021-05-03T12:20:...|     1|
|2021-05-01T13:50:...|     1|
| and smog fees   ...|     1|
|2021-05-03T13:50:...|     1|
|                 535|     1|
|2021-05-01T09:50:...|     1|
|                 330|     1|
|2021-04-27T13:04:...|     1|
|2021-05-04T14:01:...|     1|
| and smog fees   ...|     1|
|2021-05-01T14:35:...|     1|
| and smog fees   ...|     1|
|2021-04-27T11:34:...|     1|
| and smog fees   ...|     1|
| or Delivery Fees...|     1|
|2021-05-03T11:30:...|     1|
| and smog fees   ...|     1|
|2021-05-03T10:40:...|     1|
|2021-05-02T09:49:...|     1|
|2021-05-01T10:39:...|     1|
|2021-05-04T14:41:...|     1|
|2021-05-02T10:39:...|     1|
| and smog fees   ...|     1|
|2021-05-03T13:05:...|     1|
|    in-expensive car|     2|
|2021-05-01T12:20:...|     1|
| and smog fees   ...|     1|
|2021-05-03T14:35:...|     1|
|2021-05-04T15:21:...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
|2021-04-27T10:45:...|     1|
|2021-04-27T12:19:...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
| and smog fees   ...|     1|
|2021-05-04T13:16:...|     1|
|2021-05-04T11:31:...|     1|
|2021-05-02T13:49:...|     1|
|                250 |     1|
| and smog fees   ...|     1|
|              safety|     1|
| and smog fees   ...|     1|
|2021-04-27T13:49:...|     1|
| and smog fees   ...|     1|
|2021-05-03T09:50:...|     1|
|2021-05-04T09:51:...|     1|
|2021-05-04T12:30:...|     1|
| and smog fees   ...|     1|
|2021-05-02T11:30:...|     1|
|2021-05-04T10:41:...|     1|
| and smog fees   ...|     1|
+--------------------+------+

None
--------------------------------------
+--------------------+
|        transmission|
+--------------------+
| and smog fees   ...|
| and smog fees   ...|
|             unknown|
| and smog fees   ...|
| and smog fees   ...|
|           automatic|
| and smog fees   ...|
|               other|
| and smog fees   ...|
| and smog fees   ...|
| and smog fees   ...|
| and smog fees   ...|
|              manual|
| and smog fees   ...|
| and smog fees   ...|
| and smog fees   ...|
|                 330|
|              safety|
| and smog fees   ...|
| and smog fees   ...|
+--------------------+
only showing top 20 rows

82

In [32]:
#Define a list of values to match
names_to_match = ['automatic','manual','other','unknown']
 
#Filter DataFrame to select rows where name is in the list of values or is null
df8 = df7.filter((col("transmission").isin(names_to_match)) )

In [33]:
null_count = df8.filter(col("transmission").isNull()).count()
print("null records" ,null_count)

null_count = df8.filter(col("transmission").isNotNull()).count()
print("not null records" ,null_count)

total_count = df8.select('transmission').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df8.groupBy('transmission').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df8.select("transmission").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346840
total count  346840
--------------------------------------
+------------+------+
|transmission| count|
+------------+------+
|     unknown|  1327|
|   automatic|267924|
|       other| 58572|
|      manual| 19017|
+------------+------+

None
--------------------------------------
+------------+
|transmission|
+------------+
|     unknown|
|   automatic|
|       other|
|      manual|
+------------+

4

In [34]:
null_count = df8.filter(col("drive").isNull()).count()
print("null records" ,null_count)

null_count = df8.filter(col("drive").isNotNull()).count()
print("not null records" ,null_count)

total_count = df8.select('drive').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df8.groupBy('drive').count()
print(value_counts.show(900))

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df8.select("drive").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346840
total count  346840
--------------------------------------
+-------+------+
|  drive| count|
+-------+------+
|unknown|103160|
|    fwd| 86537|
|    rwd| 48135|
|    4wd|109008|
+-------+------+

None
--------------------------------------
+-------+
|  drive|
+-------+
|unknown|
|    fwd|
|    rwd|
|    4wd|
+-------+

4

In [35]:
from pyspark.sql.functions import countDistinct

# Iterate over each column in the DataFrame
for col_name in df8.columns:
    # Count the distinct values in the column
    distinct_count = df8.select(countDistinct(col_name)).collect()[0][0]
    print(col_name, distinct_count)

region 51
price 15274
year 107
manufacturer 21
model 51
condition 7
cylinders 9
fuel 6
odometer 101980
title_status 7
transmission 4
drive 4
type 14
paint_color 13

In [36]:
df8.describe()

DataFrame[summary: string, region: string, price: string, year: string, manufacturer: string, model: string, condition: string, cylinders: string, fuel: string, odometer: string, title_status: string, transmission: string, drive: string, type: string, paint_color: string]

In [37]:
null_count = df8.filter(col("year").isNull()).count()
print("null records" ,null_count)

null_count = df8.filter(col("year").isNotNull()).count()
print("not null records" ,null_count)

total_count = df8.select('year').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df8.groupBy('year').count()
print(value_counts.show())

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df8.select("year").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346840
total count  346840
--------------------------------------
+----+-----+
|year|count|
+----+-----+
|1953|   55|
|1957|  117|
|1987|  393|
|1956|   98|
|2016|24145|
|1936|   21|
|2020|17024|
|2012|18901|
|1958|   49|
|1943|    1|
|1915|    1|
|1972|  298|
|1931|   26|
|1988|  410|
|1926|   10|
|1938|   14|
|2019|21961|
|2017|30249|
|1932|   46|
|1977|  199|
+----+-----+
only showing top 20 rows

None
--------------------------------------
+----+
|year|
+----+
|1953|
|1957|
|1987|
|1956|
|2016|
|1936|
|2020|
|2012|
|1958|
|1972|
|1931|
|1988|
|1938|
|2019|
|1918|
|2017|
|1932|
|1977|
|2014|
|1971|
+----+
only showing top 20 rows

107

In [38]:
df8.printSchema()

root
 |-- region: string (nullable = false)
 |-- price: string (nullable = false)
 |-- year: string (nullable = false)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = false)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = false)
 |-- odometer: string (nullable = false)
 |-- title_status: string (nullable = false)
 |-- transmission: string (nullable = false)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)

In [39]:
# converting odometer to integer type:

# Convert data type from string to integer
df9 = df8.withColumn("year", col('year').cast("int"))

# Show the DataFrame schema to verify the changes
df9.printSchema()

root
 |-- region: string (nullable = false)
 |-- price: string (nullable = false)
 |-- year: integer (nullable = true)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = false)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = false)
 |-- odometer: string (nullable = false)
 |-- title_status: string (nullable = false)
 |-- transmission: string (nullable = false)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)

from pyspark.sql.functions import to_timestamp, year

# Assuming df is your Spark DataFrame with a column named 'timestamp_str' of string type
# Convert the string column to a timestamp column
df9 = df8.withColumn('year', to_timestamp(df8['year'], 'yyyy-MM-dd HH:mm:ss'))

# Extract the year from the timestamp column
df9 = df8.withColumn('year', year(df8['year']))

In [40]:
null_count = df9.filter(col("year").isNull()).count()
print("null records" ,null_count)

null_count = df9.filter(col("year").isNotNull()).count()
print("not null records" ,null_count)

total_count = df9.select('year').count()

print("total count ",total_count)

print("--------------------------------------")

value_counts = df9.groupBy('year').count()
print(value_counts.show())

print("--------------------------------------")

# Get unique records of a specific column
unique_records = df9.select("year").distinct()

# Show the unique records
unique_records.show()

# Count the number of unique records
count_unique_records = unique_records.count()
print(count_unique_records)

null records 0
not null records 346840
total count  346840
--------------------------------------
+----+-----+
|year|count|
+----+-----+
|1959|   55|
|1990|  494|
|1975|  134|
|1977|  199|
|1924|    6|
|2003| 5939|
|2007|11938|
|2018|31616|
|1974|  183|
|2015|25217|
|1927|   26|
|1955|  135|
|2006|10205|
|1978|  260|
|2022|   69|
|1961|   50|
|2013|24553|
|1942|    6|
|1939|   32|
|1952|   65|
+----+-----+
only showing top 20 rows

None
--------------------------------------
+----+
|year|
+----+
|1959|
|1990|
|1975|
|1977|
|1924|
|2003|
|2007|
|2018|
|1974|
|2015|
|1927|
|1955|
|2006|
|1978|
|1961|
|2013|
|1942|
|1939|
|1922|
|1952|
+----+
only showing top 20 rows

107

# odometer :

In [41]:
# converting odometer to integer type:

# Convert data type from string to integer
df10 = df9.withColumn("odometer", col('odometer').cast("int"))

# Show the DataFrame schema to verify the changes
df10.printSchema()

root
 |-- region: string (nullable = false)
 |-- price: string (nullable = false)
 |-- year: integer (nullable = true)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = false)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = false)
 |-- odometer: integer (nullable = true)
 |-- title_status: string (nullable = false)
 |-- transmission: string (nullable = false)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)

# PRICE :

In [42]:
# converting odometer to integer type:

# Convert data type from string to integer
df11 = df10.withColumn("price", col('price').cast("int"))

# Show the DataFrame schema to verify the changes
df11.printSchema()

root
 |-- region: string (nullable = false)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = false)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = false)
 |-- odometer: integer (nullable = true)
 |-- title_status: string (nullable = false)
 |-- transmission: string (nullable = false)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)

In [43]:
df11.show(10)

+------+-----+----+------------+--------------+---------+-----------+-------+--------+------------+------------+-------+-------+-----------+
|region|price|year|manufacturer|         model|condition|  cylinders|   fuel|odometer|title_status|transmission|  drive|   type|paint_color|
+------+-----+----+------------+--------------+---------+-----------+-------+--------+------------+------------+-------+-------+-----------+
|others|39590|2020|        ford|        others|     good|8 cylinders|    gas|    1419|       clean|       other|    rwd|  coupe|      white|
|others| 3850|2010|  volkswagen|         jetta|  unknown|    unknown|    gas|  178000|       clean|   automatic|unknown|unknown|    unknown|
|others|45950|2014|      others|        others|excellent|8 cylinders| diesel|  154289|       clean|   automatic|    4wd|  truck|      black|
|others|33990|2016|   chevrolet|silverado 1500|  unknown|8 cylinders|unknown|  117895|       clean|   automatic|    4wd| pickup|      white|
|others| 5000|2006|        jeep|        others|  unknown|    unknown| diesel|  194000|       clean|   automatic|unknown|    SUV|    unknown|
|others|    0|2016|         ram|        others| like new|6 cylinders| diesel|  128377|       clean|   automatic|    4wd|  truck|      black|
|others| 3800|2006|         kia|        others|  unknown|6 cylinders|    gas|  112412|       clean|   automatic|    fwd|  sedan|       grey|
|others|32990|2019|       dodge|        others|     good|8 cylinders|    gas|    2676|       clean|       other|    rwd|  coupe|      white|
|others|27590|2019|   chevrolet|        others|     good|    unknown|    gas|   18056|       clean|       other|    rwd|  coupe|        red|
|others|18998|2015|       acura|        others|  unknown|    unknown|    gas|   56476|       clean|   automatic|    fwd|  sedan|      white|
+------+-----+----+------------+--------------+---------+-----------+-------+--------+------------+------------+-------+-------+-----------+
only showing top 10 rows

In [44]:
from pyspark.sql.functions import countDistinct

# Iterate over each column in the DataFrame
for col_name in df11.columns:
    # Count the distinct values in the column
    distinct_count = df11.select(countDistinct(col_name)).collect()[0][0]
    print(col_name, distinct_count)

region 51
price 15272
year 107
manufacturer 21
model 51
condition 7
cylinders 9
fuel 6
odometer 101980
title_status 7
transmission 4
drive 4
type 14
paint_color 13

Our dataset have lots of outliers. Outliers reduces the accuracy of a model. We have to detect outliers and remove them.

# for price quartiles :

In [45]:
df11.count()

346840

In [46]:
# Calculate quartiles
price_percentiles = df11.approxQuantile("price", [0.15, 0.75], 0.01)  # Use a low relative error for better accuracy
price_percentile15 = price_percentiles[0]
price_percentile75 = price_percentiles[1]

# Calculate IQR and upper/lower limits
price_iqr = price_percentile75 - price_percentile15
price_upper_limit = price_percentile75 + 1.5 * price_iqr
price_lower_limit = price_percentile15

# Filter DataFrame based on limits
df12 = df11.filter((col("price") < price_upper_limit) & (col("price") > price_lower_limit))

In [47]:
df12.count()

289883

# for odometer quartiles :

In [48]:
# Calculate percentiles
odometer_percentiles = df12.approxQuantile("odometer", [0.05, 0.25, 0.75], 0.01)  # Use a low relative error for better accuracy
odometer_percentile05 = odometer_percentiles[0]
odometer_percentile25 = odometer_percentiles[1]
odometer_percentile75 = odometer_percentiles[2]

# Calculate IQR and upper/lower limits
odometer_iqr = odometer_percentile75 - odometer_percentile25
odometer_upper_limit = odometer_percentile75 + 1.5 * odometer_iqr
odometer_lower_limit = odometer_percentile05

# Filter DataFrame based on limits
df13 = df12.filter((col("odometer") < odometer_upper_limit) & (col("odometer") > odometer_lower_limit))

In [49]:
df13.count()

272791

# Feature Engineering :

In [50]:
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
#pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\ajinkya\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: seaborn in c:\users\ajinkya\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ajinkya\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=0.25 in c:\users\ajinkya\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajinkya\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ajinkya\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ajinkya\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [51]:
new_df = df13.select("price","year").toPandas()

# Set up plot parameters
plt.rcParams["figure.autolayout"] = True
sns.set_palette('summer_r')
plt.figure(figsize=(12, 9))

# Plot
sns.barplot(y=new_df['price'], x=new_df['year'])
plt.title("Price VS Year", fontsize=20, fontweight='bold')
plt.xlabel('Year', fontsize=20)
plt.xticks(rotation=60)
plt.ylabel('Price', fontsize=20)
plt.tight_layout()
plt.show()

Py4JError: An error occurred while calling o1208.pandasStructHandlingMode. Trace:
py4j.Py4JException: Method pandasStructHandlingMode([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:745)

We can see the car data before 1996 is quiet irrelevant with our current times data. So we are extracting all the car data available after 1996

In [52]:
# Filter DataFrame based on the condition
df14 = df13.where(df13['year'] > 1996)

In [53]:
from pyspark.sql.functions import countDistinct

# Iterate over each column in the DataFrame
for col_name in df14.columns:
    # Count the distinct values in the column
    distinct_count = df14.select(countDistinct(col_name)).collect()[0][0]
    print(col_name, distinct_count)

region 51
price 12648
year 26
manufacturer 21
model 51
condition 7
cylinders 9
fuel 6
odometer 83924
title_status 7
transmission 4
drive 4
type 14
paint_color 13

In [54]:
df14.count()

264038

In [55]:
# Calculate car age and add it as a new column
df15 = df14.withColumn('car_age', 2022 - col('year'))

# Drop the 'year' column
df16 = df15.drop('year')

# Describe the DataFrame to get summary statistics
df16.describe().show()

+-------+--------------+------------------+------------+------------------+---------+------------+-------+------------------+------------+------------+-------+------+-----------+-----------------+
|summary|        region|             price|manufacturer|             model|condition|   cylinders|   fuel|          odometer|title_status|transmission|  drive|  type|paint_color|          car_age|
+-------+--------------+------------------+------------+------------------+---------+------------+-------+------------------+------------+------------+-------+------+-----------+-----------------+
|  count|        264038|            264038|      264038|            264038|   264038|      264038| 264038|            264038|      264038|      264038| 264038|264038|     264038|           264038|
|   mean|          null|19676.750384414365|        null|2158.5919757759275|     null|        null|   null| 90331.25469440005|        null|        null|   null|  null|       null| 9.06306289246245|
| stddev|          null|12268.539549832893|        null| 755.3331018166342|     null|        null|   null|56418.156011540406|        null|        null|   null|  null|       null|4.895635870230529|
|    min|   SF bay area|              3525|       acura|              1500|excellent|10 cylinders| diesel|              7622|       clean|   automatic|    4wd|   SUV|      black|                0|
|    max|washington, DC|             61155|  volkswagen|wrangler unlimited|  unknown|     unknown|unknown|            265900|     unknown|     unknown|unknown| wagon|     yellow|               25|
+-------+--------------+------------------+------------+------------------+---------+------------+-------+------------------+------------+------------+-------+------+-----------+-----------------+

In [56]:
df16.printSchema()

root
 |-- region: string (nullable = false)
 |-- price: integer (nullable = true)
 |-- manufacturer: string (nullable = false)
 |-- model: string (nullable = false)
 |-- condition: string (nullable = false)
 |-- cylinders: string (nullable = false)
 |-- fuel: string (nullable = false)
 |-- odometer: integer (nullable = true)
 |-- title_status: string (nullable = false)
 |-- transmission: string (nullable = false)
 |-- drive: string (nullable = false)
 |-- type: string (nullable = false)
 |-- paint_color: string (nullable = false)
 |-- car_age: integer (nullable = true)

In [57]:
df16.count()

264038

### MODELS

In [79]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler,StandardScaler
from pyspark.ml.regression import LinearRegression,RandomForestRegressor,DecisionTreeRegressor
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator

In [59]:
train, test = df16.randomSplit([0.8, 0.2])

In [60]:
numerical=["odometer","car_age"]

In [61]:
numerical_vector_assembler = VectorAssembler(inputCols=numerical,
                                             outputCol='numerical_feature_vector')

train = numerical_vector_assembler.transform(train)
test = numerical_vector_assembler.transform(test)

In [62]:
scaler = StandardScaler(inputCol='numerical_feature_vector',
                        outputCol='scaled_numerical_feature_vector',
                        withStd=True, withMean=True)

scaler = scaler.fit(train)

train = scaler.transform(train)
test = scaler.transform(test)

In [63]:
indexer = StringIndexer(inputCols=['manufacturer','model','condition','cylinders','fuel','title_status','transmission','drive','type','paint_color','region'],
                        outputCols=['manufacturer_index','m_i','co_i','cy_i','f_i','ts_i','tr_i','d_i','ty_i','p_i','r_i'],handleInvalid="keep")

indexer = indexer.fit(train)
train = indexer.transform(train)
test = indexer.transform(test)

In [64]:
one_hot_encoder = OneHotEncoder(inputCols=['manufacturer_index','m_i','co_i','cy_i','f_i','ts_i','tr_i','d_i','ty_i','p_i','r_i'],
                                outputCols=['manufacturer_index_h','m_i_h','co_i_h','cy_i_h','f_i_h','ts_i_h','tr_i_h','d_i_h','ty_i_h','p_i_h','r_i_h'])

one_hot_encoder = one_hot_encoder.fit(train)

train = one_hot_encoder.transform(train)
test = one_hot_encoder.transform(test)

In [65]:
assembler = VectorAssembler(inputCols=['scaled_numerical_feature_vector',
                                       'manufacturer_index_h','m_i_h','co_i_h','cy_i_h','f_i_h','ts_i_h','tr_i_h','d_i_h','ty_i_h','p_i_h','r_i_h'],
                            outputCol='final_feature_vector')

train = assembler.transform(train)
test = assembler.transform(test)

### linear regression

In [66]:
lr = LinearRegression(featuresCol='final_feature_vector',
                      labelCol='price')

In [67]:
lr=lr.fit(train)

In [68]:
#pred_train_df = lr.transform(train).withColumnRenamed('prediction',
                                                      #'predicted_vehicle_value')

#pred_train_df.show(5)

In [73]:
pred_test_df = lr.transform(test).withColumnRenamed('prediction', 'predicted_vehicle_value')

In [69]:
result=lr.evaluate(test)

In [70]:
print(result.r2)

0.7439798435931946

In [71]:
unlabeled_data=test.select("final_feature_vector")

In [72]:
predictions=lr.transform(unlabeled_data)

In [73]:
predictions.show()

+--------------------+-------------------+
|final_feature_vector|         prediction|
+--------------------+-------------------+
|(189,[0,1,6,33,75...|  813.5642205286167|
|(189,[0,1,13,23,7...| -6567.087376363495|
|(189,[0,1,6,23,74...|  3049.477467715249|
|(189,[0,1,16,23,7...|  1423.821507894143|
|(189,[0,1,6,32,75...| 2413.9466519904163|
|(189,[0,1,4,23,76...| 11238.295942869725|
|(189,[0,1,6,32,75...| 12713.459846554571|
|(189,[0,1,12,23,7...|  4136.175756756533|
|(189,[0,1,13,23,7...|-2137.7855483546955|
|(189,[0,1,5,29,76...| 1575.9921574458494|
|(189,[0,1,6,23,76...| 12763.484107470536|
|(189,[0,1,3,23,76...| 12415.112055633128|
|(189,[0,1,6,23,76...|  7551.194138699946|
|(189,[0,1,10,23,7...| 16671.914135681014|
|(189,[0,1,3,23,76...|  16805.15914851604|
|(189,[0,1,4,23,76...| 14778.585814796577|
|(189,[0,1,10,23,7...|  7993.307520564165|
|(189,[0,1,3,23,76...| 14798.339473108019|
|(189,[0,1,5,23,76...| 14578.241391875963|
|(189,[0,1,5,23,76...| 13956.766616853034|
+--------------------+-------------------+
only showing top 20 rows

### random forest

In [74]:
rf = RandomForestRegressor(featuresCol='final_feature_vector',
                      labelCol='price')

In [75]:
rf = rf.fit(train)

In [87]:
predictions = rf.transform(test)

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")

# Evaluate the model
r2 = evaluator.evaluate(predictions)
mse = evaluator.evaluate(predictions, {evaluator.metricName: "mse"})
mae = evaluator.evaluate(predictions, {evaluator.metricName: "mae"})
rmse = evaluator.evaluate(predictions, {evaluator.metricName: "rmse"})

# Print the evaluation metrics
print("R2 on test data = %g" % r2)
print("Mean squared error:", mse)
print("Mean absolute error:", mae)
print("Root mean squared error:", rmse)

# Show predictions
predictions.select("final_feature_vector", "price", "prediction").show()

R2 on test data = 0.690532
Mean squared error: 46713591.48371444
Mean absolute error: 5172.064741192836
Root mean squared error: 6834.734192616012
+--------------------+-----+------------------+
|final_feature_vector|price|        prediction|
+--------------------+-----+------------------+
|(189,[0,1,6,33,75...| 4000| 7769.644944797677|
|(189,[0,1,13,23,7...| 4000|10060.292738028387|
|(189,[0,1,6,23,74...| 4299|10145.533259097834|
|(189,[0,1,16,23,7...| 4900|10145.533259097834|
|(189,[0,1,6,32,75...| 5900| 8963.416251666618|
|(189,[0,1,4,23,76...| 6299| 10647.48307463534|
|(189,[0,1,6,32,75...| 6500|10145.533259097834|
|(189,[0,1,12,23,7...| 7000|12146.756368367842|
|(189,[0,1,13,23,7...| 7500| 9362.404266808418|
|(189,[0,1,5,29,76...| 7888|  8235.33122560976|
|(189,[0,1,6,23,76...| 8200|17534.784983943275|
|(189,[0,1,3,23,76...| 9500|19394.953044085763|
|(189,[0,1,6,23,76...| 9800|11743.376511348582|
|(189,[0,1,10,23,7...| 9888|10927.121909063644|
|(189,[0,1,3,23,76...| 9988|10822.644436606253|
|(189,[0,1,4,23,76...|10495|13402.883034815759|
|(189,[0,1,10,23,7...|10995|10060.292738028387|
|(189,[0,1,3,23,76...|11800| 10647.48307463534|
|(189,[0,1,5,23,76...|12000| 14426.06366093815|
|(189,[0,1,5,23,76...|13900|16360.330961671629|
+--------------------+-----+------------------+
only showing top 20 rows

### decision tree

In [88]:
# Define Decision Tree Regressor
dt = DecisionTreeRegressor(featuresCol='final_feature_vector',
                      labelCol='price')

# Train the model
dt = dt.fit(train)

# Make predictions
predictions = dt.transform(test)

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)
mse = evaluator.evaluate(predictions, {evaluator.metricName: "mse"})
mae = evaluator.evaluate(predictions, {evaluator.metricName: "mae"})
rmse = evaluator.evaluate(predictions, {evaluator.metricName: "rmse"})

# Print the evaluation metrics
print("R2 on test data = %g" % r2)
print("Mean squared error:", mse)
print("Mean absolute error:", mae)
print("Root mean squared error:", rmse)

# Show predictions
predictions.select("final_feature_vector", "price", "prediction").show()

R2 on test data = 0.645953
Mean squared error: 53442766.04141012
Mean absolute error: 5413.173757862375
Root mean squared error: 7310.4559393658965
+--------------------+-----+------------------+
|final_feature_vector|price|        prediction|
+--------------------+-----+------------------+
|(189,[0,1,6,33,75...| 4000|7779.1648925013105|
|(189,[0,1,13,23,7...| 4000|7779.1648925013105|
|(189,[0,1,6,23,74...| 4299|7779.1648925013105|
|(189,[0,1,16,23,7...| 4900|7779.1648925013105|
|(189,[0,1,6,32,75...| 5900|7779.1648925013105|
|(189,[0,1,4,23,76...| 6299|7779.1648925013105|
|(189,[0,1,6,32,75...| 6500|7779.1648925013105|
|(189,[0,1,12,23,7...| 7000|  8278.15276145711|
|(189,[0,1,13,23,7...| 7500|7779.1648925013105|
|(189,[0,1,5,29,76...| 7888|7779.1648925013105|
|(189,[0,1,6,23,76...| 8200|15401.746406192407|
|(189,[0,1,3,23,76...| 9500|19391.121109686443|
|(189,[0,1,6,23,76...| 9800|  8278.15276145711|
|(189,[0,1,10,23,7...| 9888|7779.1648925013105|
|(189,[0,1,3,23,76...| 9988| 10855.01959828393|
|(189,[0,1,4,23,76...|10495|11366.361942781105|
|(189,[0,1,10,23,7...|10995|7779.1648925013105|
|(189,[0,1,3,23,76...|11800|7779.1648925013105|
|(189,[0,1,5,23,76...|12000|   12451.434901654|
|(189,[0,1,5,23,76...|13900|15123.719427580225|
+--------------------+-----+------------------+
only showing top 20 rows

### ridge regression

In [98]:
# Define Ridge Regression model
ridge = LinearRegression(featuresCol="final_feature_vector", labelCol="price", elasticNetParam=0.0, regParam=0.1) # regParam is the regularization parameter for Ridge Regression

# Train the model
ridge_model = ridge.fit(train)

# Make predictions
predictions = ridge_model.transform(test)

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)
mse = evaluator.evaluate(predictions, {evaluator.metricName: "mse"})
mae = evaluator.evaluate(predictions, {evaluator.metricName: "mae"})
rmse = evaluator.evaluate(predictions, {evaluator.metricName: "rmse"})
print("R2 on test data = %g" % r2)
print("Mean squared error:", mse)
print("Mean absolute error:", mae)
print("Root mean squared error:", rmse)
# Show predictions
predictions.select("final_feature_vector", "price", "prediction").show()

R2 on test data = 0.74398
Mean squared error: 38645782.02751786
Mean absolute error: 4630.695133415567
Root mean squared error: 6216.573173985637
+--------------------+-----+-------------------+
|final_feature_vector|price|         prediction|
+--------------------+-----+-------------------+
|(189,[0,1,6,33,75...| 4000|  813.6450525851214|
|(189,[0,1,13,23,7...| 4000| -6566.949417342836|
|(189,[0,1,6,23,74...| 4299| 3049.5833724085714|
|(189,[0,1,16,23,7...| 4900|  1423.947617681697|
|(189,[0,1,6,32,75...| 5900|  2414.008285201344|
|(189,[0,1,4,23,76...| 6299| 11238.356954198518|
|(189,[0,1,6,32,75...| 6500| 12713.436937324019|
|(189,[0,1,12,23,7...| 7000|  4136.299271966451|
|(189,[0,1,13,23,7...| 7500|-2137.6710813212812|
|(189,[0,1,5,29,76...| 7888|  1576.104174357115|
|(189,[0,1,6,23,76...| 8200|  12763.45509697066|
|(189,[0,1,3,23,76...| 9500| 12415.140145254307|
|(189,[0,1,6,23,76...| 9800|  7551.233221046634|
|(189,[0,1,10,23,7...| 9888| 16671.942701103675|
|(189,[0,1,3,23,76...| 9988|  16805.16098863013|
|(189,[0,1,4,23,76...|10495| 14778.594457344705|
|(189,[0,1,10,23,7...|10995|   7993.32962996797|
|(189,[0,1,3,23,76...|11800| 14798.358999356558|
|(189,[0,1,5,23,76...|12000| 14578.186776676444|
|(189,[0,1,5,23,76...|13900| 13956.749130233775|
+--------------------+-----+-------------------+
only showing top 20 rows

### lasso regression

In [101]:
# Define Ridge Regression model
lasso = LinearRegression(featuresCol="final_feature_vector", labelCol="price", elasticNetParam=1.0, regParam=0.1) # regParam is the regularization parameter for Ridge Regression

# Train the model
las_model = lasso.fit(train)

# Make predictions
predictions = las_model.transform(test)

# Evaluate the model
evaluator = RegressionEvaluator(labelCol="price", predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)
mse = evaluator.evaluate(predictions, {evaluator.metricName: "mse"})
mae = evaluator.evaluate(predictions, {evaluator.metricName: "mae"})
rmse = evaluator.evaluate(predictions, {evaluator.metricName: "rmse"})
print("R2 on test data = %g" % r2)
print("Mean squared error:", mse)
print("Mean absolute error:", mae)
print("Root mean squared error:", rmse)
# Show predictions
predictions.select("final_feature_vector", "price", "prediction").show()

R2 on test data = 0.74398
Mean squared error: 38645781.511699185
Mean absolute error: 4630.679619225646
Root mean squared error: 6216.573132498256
+--------------------+-----+------------------+
|final_feature_vector|price|        prediction|
+--------------------+-----+------------------+
|(189,[0,1,6,33,75...| 4000| 813.5681342342177|
|(189,[0,1,13,23,7...| 4000|-6564.296193667469|
|(189,[0,1,6,23,74...| 4299|3049.9660344017066|
|(189,[0,1,16,23,7...| 4900| 1423.240126815097|
|(189,[0,1,6,32,75...| 5900|  2412.57145013678|
|(189,[0,1,4,23,76...| 6299|11237.485516999874|
|(189,[0,1,6,32,75...| 6500|12712.415571844558|
|(189,[0,1,12,23,7...| 7000| 4136.071202736841|
|(189,[0,1,13,23,7...| 7500| -2137.42677434046|
|(189,[0,1,5,29,76...| 7888|1576.4124258168886|
|(189,[0,1,6,23,76...| 8200|12765.295851514074|
|(189,[0,1,3,23,76...| 9500|12415.540525912736|
|(189,[0,1,6,23,76...| 9800| 7550.973071354691|
|(189,[0,1,10,23,7...| 9888| 16669.55996150455|
|(189,[0,1,3,23,76...| 9988| 16804.48191297428|
|(189,[0,1,4,23,76...|10495|14776.545483310809|
|(189,[0,1,10,23,7...|10995| 7992.027380758062|
|(189,[0,1,3,23,76...|11800|14798.227006325005|
|(189,[0,1,5,23,76...|12000|14577.379707870015|
|(189,[0,1,5,23,76...|13900| 13956.37285305018|
+--------------------+-----+------------------+
only showing top 20 rows

### bagging regressor

In [130]:
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.sql.functions import rand,col
from functools import reduce

In [ ]:
# Define the number of base estimators (decision trees)
n_estimators = 50

# Initialize an empty DataFrame to store the predictions
predictions = None

# Train n_estimators decision trees on bootstrap samples
for i in range(n_estimators):
    # Sample with replacement to create a bootstrap sample
    bootstrap_sample = train.orderBy(rand()).limit(train.count())
    
    # Train a decision tree on the bootstrap sample
    dt = DecisionTreeRegressor(maxDepth=20)
    dt_model = dt.fit(bootstrap_sample)
    
    # Make predictions on the test set
    if predictions is None:
        predictions = dt_model.transform(X_test_tnf).select("prediction").withColumnRenamed("prediction", f"prediction_{i}")
    else:
        predictions = predictions.join(dt_model.transform(X_test_tnf).select("prediction").withColumnRenamed("prediction", f"prediction_{i}"), how="outer")

# Average the predictions from all the decision trees
predictions = predictions.withColumn("avg_prediction", sum(predictions[col] for col in predictions.columns) / n_estimators)

# Show the averaged predictions
predictions.show()

In [128]:
# Combine feature columns into a single vector column
#vector_assembler = VectorAssembler(inputCols=train.columns, outputCol="features")
#X_train_tnf = vector_assembler.transform(train)
#X_test_tnf = vector_assembler.transform(test)

'''
# Define the number of base estimators (decision trees)
n_estimators = 50

# Initialize an empty DataFrame to store the predictions
predictions = None

# Train n_estimators decision trees on bootstrap samples
for i in range(n_estimators):
    # Sample with replacement to create a bootstrap sample
    bootstrap_sample = train.orderBy(rand()).limit(train.count())
    
    # Train a decision tree on the bootstrap sample
    dt = DecisionTreeRegressor()
    dt_model = dt.fit(bootstrap_sample)
    
    # Make predictions on the test set
    if predictions is None:
        predictions = dt_model.transform(test).select("prediction").withColumnRenamed("prediction", f"prediction_{i}")
    else:
        predictions = predictions.join(dt_model.transform(test).select("prediction").withColumnRenamed("prediction", f"prediction_{i}"), how="outer")

# Average the predictions from all the decision trees
predictions = predictions.withColumn("avg_prediction", sum(predictions[col] for col in predictions.columns) / n_estimators)
'''
num_models = 5

# Train individual decision tree models on different bootstrap samples of the data
models = []
for i in range(num_models):
    # Sample with replacement to create a bootstrap sample
    bootstrap_sample = train.sample(True, 1.0, seed=i)
    
    # Train a DecisionTreeRegressor model on the bootstrap sample
    dt = DecisionTreeRegressor(featuresCol="final_feature_vector", labelCol="price")
    model = dt.fit(bootstrap_sample)
    
    models.append(model)

# Make predictions using each model
predictions = [model.transform(train) for model in models]

#Combine predictions into a single DataFrame
combined_predictions = reduce(DataFrame.unionAll, predictions)
#combined_predictions = predictions[0]
#for pred in predictions[1:]:
#    combined_predictions = combined_predictions.union(pred)

# Group by the original data row and average the predictions
avg_predictions = combined_predictions.groupBy("final_feature_vector").agg({"prediction": "avg"}).withColumnRenamed("avg(prediction)", "avg_prediction")

# Show the averaged predictions
avg_predictions.show()

#for df in predictions:
    #df.show() 

# Show the averaged predictions
#predictions.show()# Evaluate the model
evaluator = RegressionEvaluator(metricName="r2")
r2_score = evaluator.evaluate(avg_predictions)
mse = evaluator.evaluate(avg_predictions, {evaluator.metricName: "mse"})
mae = evaluator.evaluate(avg_predictions, {evaluator.metricName: "mae"})
rmse = evaluator.evaluate(avg_predictions, {evaluator.metricName: "rmse"})

# Print the evaluation metrics
print("R2 score:", r2_score)
print("Mean squared error:", mse)
print("Mean absolute error:", mae)
print("Root mean squared error:", rmse)

+--------------------+------------------+
|final_feature_vector|    avg_prediction|
+--------------------+------------------+
|(189,[0,1,2,28,75...| 7775.094758240372|
|(189,[0,1,6,23,74...| 7775.094758240372|
|(189,[0,1,17,23,7...| 7775.094758240372|
|(189,[0,1,3,23,76...|10834.868785126786|
|(189,[0,1,17,23,7...|15443.967254135863|
|(189,[0,1,4,23,76...|20133.453758237498|
|(189,[0,1,3,23,76...|21559.847957479382|
|(189,[0,1,12,23,7...|32457.199622432865|
|(189,[0,1,3,23,75...|24551.034497952285|
|(189,[0,1,6,32,74...| 7775.094758240372|
|(189,[0,1,2,36,75...|25468.475195431925|
|(189,[0,1,2,36,74...|32457.199622432865|
|(189,[0,1,2,24,74...|32457.199622432865|
|(189,[0,1,2,23,76...| 9453.516347365618|
|(189,[0,1,3,23,75...|32457.199622432865|
|(189,[0,1,16,23,7...|12399.573280763845|
|(189,[0,1,2,41,76...|11937.977726974419|
|(189,[0,1,7,23,74...|13845.011563649581|
|(189,[0,1,8,23,76...|25285.111156144423|
|(189,[0,1,3,23,74...|32457.199622432865|
+--------------------+------------------+
only showing top 20 rows

IllegalArgumentException: prediction does not exist. Available: final_feature_vector, avg_prediction

### xgboost

In [132]:
from sparkxgb import XGBoostRegressor

In [133]:
xgb = XGBoostRegressor(
    featuresCol="final_feature_vector",
    labelCol="price",
    predictionCol="prediction"
)

# Train the model
xgb_model = xgb.fit(train)

# Make predictions
predictions = xgb_model.transform(test)

# Show predictions
predictions.select("final_feature_vector", "price", "prediction").show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3526, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Ajinkya\AppData\Local\Temp\ipykernel_13336\662249834.py", line 1, in <module>
    xgb = XGBoostRegressor(
          ^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\pyspark\__init__.py", line 139, in wrapper
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\sparkxgb\xgboost.py", line 232, in __init__
    super(XGBoostRegressor, self).__init__(classname="ml.dmlc.xgboost4j.scala.spark.XGBoostRegressor")
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\sparkxgb\common.py", line 68, in __init__
    self._java_obj = self._new_java_obj(classname, self.uid)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\pyspark\ml\wrapper.py", line 86, in _new_java_obj
    Example primitive Java classes:
       ^^^^^^^^^^^^^^^^^^^^
TypeError: 'JavaPackage' object is not callable

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2120, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\Ajinkya\anaconda3\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0